<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>

<div class="container">
    <hr>
    <div class="card  mt-4">
        <div class="card-header">
            <h2>Criacao de Usuario</h2>
        </div>
        <form action="/users/create" method="POST">
            <input class="form-control" name="email" type="email" placeholder="email@expemplo.com"><br>
            <input class="form-control" name="password" type="password" placeholder="*******">
            <button class="btn btn-success btn-block mt-3" type="submit">Criar</button><br>
        </form>
        <div class="card-body">


        </div>
    </div>

</div>


<%- include ('../../partials/footer.ejs')%>